body{
    background-image: url("wallpaper.jpg")
    
}

footer{
    font-family: fantasy
    color: black;
    margin-left: 15px;
    background-color: #ffffff;
    opacity:0.6;
    border-radius: 25px;
    padding-left: 12px;
    font-weight: bold;
    margin-top: 10px;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    margin: 10px;
    border-radius: 25px;
    color: black;
    background-color: white;
    opacity:0.6;
}

#data-diri{
    background-color: #ffffff;
    opacity: 0.6;
    z-index: 0;
    margin-left: 430px;
    border-radius: 25px;
}

#data-diri h3, h4{
    margin-bottom: 10px;
    margin-top : 15px;
    text-align: justify;
    color : black;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 12px;
}

img{
    border-radius : 30px;
    z-index: 2;
    position: absolute;
}

#deskripsi{
    margin-top: 0px;
    margin-bottom: 0px;
}
#foto-gua{
    float: left;
    border-radius: 25px;
    margin-right:20px;
    margin-left: 10px;
}